@import '../../../styles.scss';

form {
    color: $color-grey-1;

    display: flex;
    flex-direction: column;
    align-items: start;
    


    & > label,input {
        display: block;
        font-size: 20px;
    }

    & > label {
        margin-top: 10px;
        font-size: 25px;
    }

    & > input {
        margin-top: 5px;
    }

    & > input[type=button] {
        margin-top: 15px;
        background-color: $color-orange-1;
        border-radius: 5px;
        transition: 200ms;

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }

    & > input[type=text] {
        
        background-color: $color-grey-4;
        color: $color-grey-1;
        border-radius: 5px;

        &::placeholder{
            color: $color-grey-2;
        }
    }

    & > input[type=file] {
        font-size: 15px;
        //background-color: $color-orange-1;
        
        // &>a:hover {
        //     cursor: pointer;
        // }
    }
}