/* You can add global styles to this file, and also import other style files */
$color-white: #fff;
$color-black: #000;
$color-orange: #F09C2A;
$color-yellow: #D9D71A;
$color-green: #38FF74;
$color-red: #D91A1D;
$color-purple: #8428FA;

$color-orange-1: #FFA44E;
$color-orange-2: #EA7100;
$color-orange-3: #C25F01;
$color-orange-4: #8A4401;
$color-orange-5: #482301;
$color-orange-6: #060300;

$color-grey-1: #fff9f2;
$color-grey-2: #9a9189;
$color-grey-3: #504c48;
$color-grey-4: #494440;
$color-grey-5: #312e2b;




body {
    // background-color: $color-yellow;
    background-color: $color-grey-3;
}