<div class="root-search">
    <div class="search">
        <form action="/home" method="get">
            <input class="textbox" type="search" name="" id="" placeholder="Name, Tag, Code...">
            <input class="button" type="button" value="Search">
        </form>
    </div>
</div>
<div class="root-group-cards">
    <div>

        <div class="group-cards">

            <div class="card" *ngFor="let item of books_list" (click)="ClickCard(item.id)">
                <img class="card-img" src="{{item.imgURL}}" alt="imagen">
                <h2>{{item.name}}</h2>
            </div>

        </div>
    </div>
</div>
<div>
  <button (click)="testconnection()">Test Connection</button>
</div>
